@charset "ISO-8859-1";
* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: cursive;
        }

        :root {
            --primary: #ff4d06;
            --bg: #dddddd;
            --pure: #fff;
        }

        .linear_grad {
            background: linear-gradient(to top right, #cf235c, #ff8c09, #faaa15, #fded05, #cf235c);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }

        .hidden {
            display: none;
        }

        #hidden {
            display: none;
        }

        .container {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
        }

        .container .image img {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            overflow: hidden;
        }

        .container .blur {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
            backdrop-filter: blur(7px);
        }

        .cancel {
            display: block;
            width: 50px;
            height: 50px;
            border: 1px solid #fff;
            position: absolute;
            top: 0;
            right: 0;
            animation: fade 1s ease-in 0s 1;
            transition: all 0.3s ease-in-out;
        }

        .line {
            width: 4px;
            height: 35px;
            background-color: #fff;
            position: absolute;
            top: 5px;
            left: 23px;
        }

        .line1 {
            transform: rotate(45deg);
        }

        .line2 {
            transform: rotate(-45deg);
        }

        .cancel:hover {
            border: none;
            background-color: #ff7e06;
        }

        .container .fillorders {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60%;
            height: 65%;
            border: 1px solid #fff;
            display: flex;
            justify-content: space-between;
            /* align-items: center; */
        }

        .container .fillorders .itemcontainer {
            width: 35%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .container .fillorders .itemcontainer .pimage {
            width: 100%;
            height: 45%;
        }

        .container .fillorders .itemcontainer .pimage img {
            width: 100%;
            height: 100%;
            background-size: cover;
        }

        .container .fillorders .itemcontainer .pimgdetails {
            width: 100%;
            height: 55%;
            display: flex;
            flex-direction: column;
        }

        .container .fillorders .itemcontainer .pimgdetails h2,
        p {
            margin-top: 4px;
            margin-left: 15px;
        }

        .container .fillorders .itemcontainer .pimgdetails p {
            color: var(--bg);
        }

        .container .fillorders .itemcontainer .pimgdetails p span {
            color: var(--pure);
        }

        .container .fillorders .ordersform {
            width: 60%;
            height: 100%;
            display: flex;
            border-left: 1px solid var(--pure);
        }

        .container .fillorders .ordersform .left {
            width: 65%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .container .fillorders .ordersform .left form .input {
            display: flex;
            flex-direction: column;
            margin-bottom: 13px;

        }

        .container .fillorders .ordersform .left form input {
            width: 80%;
            height: 30px;
            padding-left: 5px;
            outline: none;
            border: none;
            background: transparent;
            color: var(--pure);
            border-bottom: 1px solid var(--primary);
        }

        .container .fillorders .ordersform .left form .input .submit {
            background-color: var(--primary);
            border: none;
            cursor: pointer;
            transition: all 0.4s ease-in-out;
        }

        .container .fillorders .ordersform .left form label,
        input {
            margin-left: 15px;
        }

        .container .fillorders .ordersform .left form label {
            color: var(--bg);
        }

        .container .fillorders .ordersform .right {
            width: 45%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .container .fillorders .ordersform .right label,
        input {
            margin-left: 15px;
            outline: none;
        }

        .container .fillorders .ordersform .right label {
            color: var(--bg);
        }